.header{
    text-align:center;
    margin: 20px;
    padding: 5px;
}

.mainBody {
    width: 100%;
    height: 100%;
    text-align: center;
}

.startButton {
    width: 200px;
    height: 100px;
    font-size: 30px;
}

.smashButton{
    width: 100px;
    height: 50px;
    display: none;
}

.passButton{
    width: 100px;
    height: 50px;
    display: none;
}

.smashButton:hover{
    background-color: green;
}
.passButton:hover{
    background-color: red;
}

.buttonDiv {
    text-align: center;

}

body {
    font-family: sans-serif;
}

.pokeName {
    font-size: 70px;
    
}

.namePic {
    text-align: center;
}